USE [master]
GO
/****** Object:  Database [majdi]    Script Date: 2/24/2020 2:25:29 PM ******/
CREATE DATABASE [majdi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'majdi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\majdi.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'majdi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\majdi_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [majdi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [majdi]
GO
/****** Object:  Table [dbo].[Emp]    Script Date: 2/24/2020 2:25:29 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emp](
	[id] [numeric](18, 0) IDENTITY(1,1) NOT NULL,
	[fName] [nchar](10) NULL,
	[lName] [nchar](10) NULL,
	[salary] [money] NULL,
 CONSTRAINT [PK_Emp] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
USE [master]
GO
